<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link href="/github_code/demo/layout/base.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
    <div id="header">
        <h1>主要的网页标题</h1>
    </div>

    <div id="menu">
        <b>菜单</b><br>
        HTML<br>
        CSS<br>
        JavaScript
    </div>

    <div id="content">
        内容在这里
    </div>

    <div id="footer">
        版权 © Evan Liu
    </div>
</div>
</body>
</html>