/* CSS Examples */

/* CSS Reset 消除8px的自带边距
* {
	margin: 0;
	padding: 0;
}*/

body {
    /* 背景定义 */
    background-color: white  /* 背景颜色 */
    background-image: url('../img/background.png')  /* 背景图像 */
    background-repeat: no-repeat;  /* 图像呈现方式(默认平铺)：repeat-x水平平铺，repeat-y垂直平铺，no-repeat不平铺 */
    background-position: left top;  /* 背景图像的起始位置 */
    background-attachment: scroll;  /* 背景图像是否随着页面的其余部分滚动或者固定，默认scroll，fixed为固定 */
    /* 背景定义简写属性，合并在一起 */
    background: white url('../img/background.png') repeat-x;
}

h1 {
    /* 文本定义 */
    color: black;  /* 文本颜色 */
    text-align: left;  /* 对齐方式：left、right、center、justify */
    text-decoration: none;  /* 文本修饰(常用于删除链接的下划线)：none、overline、line-through、underline */
    text-transform: lowercase;  /* 文本转换：capitalize、uppercase、lowercase */
    text-indent: 10px;  /* 文本缩进 */
    letter-spacing: 2px;  /* 每个字符之间的空间 */
    word-spacing: 30px;  /* 每个单词之间的空间 */
    line-height: 120%;  /* 行与行之间的空间(大多数浏览器的默认行高约为110%~120%) */
    direction: rtl;  /* 反向输出文本 */
    white-space: nowrap;  /* 禁用文字环绕(超出边界不换行) */
    vertical-align: text-bottom;  /* 文本垂直对齐图像：text-bottom(对齐图像底部，默认)、text-top(对齐图像顶部)
                                     文本垂直对齐：top、center(在table元素内时默认)、bottom */
    text-shadow: 2px 2px #FF0000;  /* 文本阴影：x y color */
}

p {
    /* 字体定义 */
    font-family: Arial,Helvetica,sans-serif;  /* 字体系列，按顺序加载，加载异常才会加载下一个系列(多个系列用逗号分隔) */
    font-style: normal;  /* 字体样式：normal、italic */
    font-size: 30px;  /* 字体大小(默认16像素，16px=1em，设定为100%后会继承body字体大小)：px、em、% 三种方式定义 */
    font-weight: normal;  /* 字体加粗：normal(默认)、lighter、bold、900(用数字定义) */
    font-variant: normal;  /* 字体转变：normal(默认)、small-caps(小型大写字母) */
    /* 字体定义简写属性，合并在一起 */
    font: 30px Arial,Helvetica;
}

/* 链接定义
a:link      未访问链接
a:visited   已访问链接
a:hover     鼠标移动到链接上
a:active    鼠标点击时
*/
a:link, a:visited {
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	width: 120px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}
a:hover, a:active {
	background-color: #7A991A;
	font-size:150%;
}

ul {
    /* 无序列表定义 */
    list-style-type: circle;  /* 列表项标记：none(移除标记)、circle、square */
    list-style-image: url('../img/demo.gif');  /* 列表项标记图像 */
    list-style-position: inside;  /* 列表项标记位置：outside(默认值)、inside、inherit(继承父元素) */
    /* 列表定义简写属性，合并在一起 */
    list-style: circle url('../img/demo.gif') inside;
}
ol {
    /* 有序列表定义 */
    list-style-type: upper-roman;  /* 列表项标记：number、upper-roman、lower-alpha */
    list-style-position: outside;  /* 列表项标记位置：outside(默认值)、inside、inherit(继承父元素) */
}

table {
    /* 表格外框定义 */
    border-collapse: collapse;  /* 折叠边框(设置表格为单边框，默认有双边框) */
    width: 100%;  /* 外框宽度 */
}
caption {
     /* 标题定义 */
     caption-side: top;  /* 标题位置(默认top居中)：top、bottom */
}
tr.collapse {
    /* 行定义 */
    visibility: collapse;  /* 折叠行，不显示内容，也不占空间 */
}
th {
    /* 表头定义(默认居中和粗体) */
    border: 1px solid black;  /* 表格边框：px、风格、颜色 */
    height: 30px;  /* 标题高度 */
    background-color: green;  /* 标题背景颜色 */
    color: white;  /* 标题字体颜色 */
}
td {
    /* 内容定义 */
    border: 1px solid black;  /* 表格边框：px、风格、颜色 */
    height: 20px;  /* 内容高度 */
    text-align: center;  /* 文本水平对齐：left(默认)、center、right */
    vertical-align: center;  /* 文本垂直对齐：top、center(默认)、bottom */
    padding: 3px 7px 2px 7px;  /* 内边距：上 右 下 左 */
}

/* 盒子模型(设计和布局时使用)
总元素的宽度 = 宽度 + 左填充 + 右填充 + 左边框 + 右边框 + 左边距 + 右边距
总元素的高度 = 高度 + 顶部填充 + 底部填充 + 上边框 + 下边框 + 上边距 + 下边距
*/
div.base {
    background-color: lightgrey;  /* 背景颜色 */
    width: 500px;  /* 宽度 */
    margin: 20px;  /* 外边距：上 右 下 左 */
    border: 20px solid green;  /* 边框：px、风格、颜色 */
    padding: 50px;  /* 内边距：上 右 下 左 */
    position: absolute;  /* 使用绝对位置 */
    top: 50px;  /* 距离顶部50px */
    left: 100px;  /* 距离左边100px */
}
div.layout {
    background-color: lightgrey;  /* 背景颜色 */
    width: 800px;  /* 宽度 */
    margin: 20px;  /* 外边距：上 右 下 左 */
    border: 20px solid green;  /* 边框：px、风格、颜色 */
    padding: 30px;  /* 内边距：上 右 下 左 */
    position: absolute;  /* 使用绝对位置 */
    top: 50px;  /* 距离顶部50px */
    right: 180px;  /* 距离右边150px */
}

div.layout span {
    /* 边框定义 */
    border-style: ridge groove solid inset;  /* 边框风格：上 右 下 左 */
    /* 边框定义简写属性，合并在一起 */
    border: 5px ridge groove solid inset;

    /* 轮廓定义(不占空间) */
    outline: green dotted thick;  /* 轮廓：颜色 风格 宽度 */
}

div.layout p.hidden {
    /* 显示定义 */
    visibility: hidden;  /* 隐藏元素，但位置保留(占空间)：visible(默认)、hidden */
    display: none;  /* none(隐藏元素，位置不保留)
                       inline(定义为内联元素：在同一行显示、没有宽高等属性)
                       block(定义为块级元素：独占一行、可以设置宽高等属性)
                       inline-block(定义为内联块元素：在同一行显示、并且可以设置宽高等属性)
                       table(定义为表格元素)
                       list-item(定义为列表元素) */
}

div.place {
    /* 位置定义：static(默认)、
                fixed(固定位置，不占空间)、
                relative(相对于元素初始的位置，占空间)、
                absolute(相对于父元素的位置(如果没有，作用于整个<html>)，不占空间)、
                sticky(基于用户的滚动位置来定位，占空间) */
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 0;  /* 有正数或负数的堆叠顺序(当多个元素重叠在一起时，根据数值大小决定先后显示的顺序，默认后定义的元素覆盖之前的元素) */
    clip: rect(0px,600px,200px,0px);  /* 裁剪绝对定位的元素外形(超出范围为不裁剪)：上,右,下,左 */
    overflow: auto;  /* 滚动条(显示元素内溢出的内容): visible(默认)、auto(自适应)、scroll(强制开启滚动条)、hidden(溢出内容隐藏) */
    cursor: auto;  /* 光标显示：auto(默认)、default、pointer、progress、text、wait */
}

/* 浮动定义(常用于图像) */
div.layout img.pikachu {
    float: right;  /* 水平方向浮动：none(默认)、left、right、inherit(继承父元素) */
    width: 30%;
    height: auto;  /* 自适应高度(根据宽度比例调整) */
    border: 1px solid #ccc;
    margin: 1px;
    position: relative;  /* 使用相对位置 */
    right: -10px;  /* 距离右边-10px */
}
div.layout img.pikachu:hover {
    border-color: #777;  /* 当选中图片时，边框变颜色 */
}
div.layout span {
    clear: both;  /* 清除浮动(指定元素周围不能出现浮动元素)：none(默认)、left、right、both(两侧)、inherit(继承父元素) */
}

div.align {
    /* 对齐定义 */
    margin: auto;  /* 居中对齐(如果没有设置width属性，居中对齐将不起作用) */
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}

/* 计数器定义
content	             使用 ::before 和 ::after 伪元素来插入自动生成的内容
counter-increment	 递增一个或多个值
counter-reset	     创建或重置一个或多个计数器
*/
div.layout {
    counter-reset: section;  /* 初始化计数器变量 */
}
div.layout h2::before {
    /* 使用带计数器的段落 */
    counter-increment: section;  /* 递增变量 */
    content: "计数值(" counter(section) "): ";  /* 插入变量到生成的内容 */
}
div.layout ol {
    counter-reset: section-li;  /* 初始化计数器变量 */
    list-style-type: none;
}
div.layout ol.only {
    border: 1px solid green;
    width: 35%;
    position: relative;  /* 使用相对位置 */
    top: -15px;  /* 距离右边-15px */
}
div.layout li::before {
    /* 使用带计数器的列表 */
    counter-increment: section-li;  /* 递增变量 */
    /* 使用counters函数插入变量到生成的内容(具有累加功能，reset一次就增加一次累加)
       使用方法：counters(section,"多次累加变量之间的字符") */
    content: "计数值(" counters(section-li,".") "): ";
}

/* 元素组合选择符
后代选择器         【以空格分隔】            子孙
子元素选择器       【以大于号 > 分隔】       直接子元素
相邻兄弟选择器     【以加号 + 分隔】         后续距离最近的一个兄弟元素
后续兄弟选择器     【以波浪号 ～ 分隔】       后续所有兄弟元素
*/

/* 伪类元素(伪类元素是基于当前元素处于的状态，或者说元素当前所具有的特性，而不是元素的id、class、属性等静态的标志)
:link                 a:link                    选择所有未访问链接
:visited	          a:visited	                选择所有访问过的链接
:active	              a:active	                选择正在活动的链接
:hover	              a:hover	                把鼠标放在链接上的状态
:focus	              input:focus	            选择元素输入后具有焦点
:first-letter   	  p:first-letter	        选择每个 <p> 元素的第一个字母
:first-line 	      p:first-line	            选择每个 <p> 元素的第一行
:first-child	      p:first-child	            选择器匹配属于任意元素的第一个子元素的 <p> 元素
:before	              p:before	                在每个 <p> 元素之前插入内容
:after	              p:after	                在每个 <p> 元素之后插入内容
:lang(language)	      p:lang(it)	            为 <p> 元素的 lang 属性选择一个开始值
*/

/* 属性选择器(具有特定属性的HTML元素样式)
attribute属性值【完全等于】value     [title = great]
attribute属性中【包含】value         [title ~= hello]        属性值包含【独立的完整单词】value
attribute属性中【包含】value         [title *= flower]       属性值【包含value的字母】就可以
attribute属性以value【开头】         [lang |= en]            属性值必须是【完整且唯一的单词】
attribute属性以value【开头】         [lang ^= en]            属性值的【前几个字母】是value就可以
attribute属性以value【结尾】         a[src $= ".pdf"]        属性值的【后几个字母】是value就可以
*/